body{
margin:0;
font-family:sans-serif;
}

.auth-body{
background:linear-gradient(135deg,#1e88e5,#42a5f5);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.card{
background:white;
padding:30px;
border-radius:15px;
width:320px;
text-align:center;
box-shadow:0 15px 40px rgba(0,0,0,0.2);
}

.logo{
color:#1e88e5;
}

.tabs button{
margin:5px;
padding:8px;
border:none;
background:#eee;
cursor:pointer;
border-radius:5px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border-radius:6px;
border:1px solid #ccc;
}

button{
width:100%;
padding:10px;
border:none;
background:#1e88e5;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#1565c0;
}
